<!-- Navbar -->
<!-- <nav>
  <div class="container d-flex justify-content-between align-items-center my-2">
    <div class="logo">E-Learning</div>
      <ul class="d-flex align-items-center">
        <li><a  routerLink="/home"  style="font-weight: bold;margin-right: 20px; font-size: 20px; text-decoration: none; color: white ;">Home</a></li>
        <li><button class="btn btn-light fw-bold" routerLink="/login" *ngIf="!isLogged" style="color: #0066cc; background-color: white ;">Login</button></li>
        <li><button class="btn btn-light fw-bold" *ngIf="isLogged"  style="color: #0066cc; background-color: white ;" (click)="logout()">Logout</button></li>
        <li><button class="btn btn-light fw-bold" routerLink="/register" style="color: #0066cc; background-color: white ;">Register</button></li>
        <li class="ms-3"><a routerLink="/profile"  style="font-weight: bold;margin-right: 20px; font-size: 20px; text-decoration: none; color: white ;">
          <img src="profile.png"  class="" style="border-radius: 50%; height: 50px ; width: 50px;" alt="Profile">
        </a></li>
      </ul>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand logo">Bright Mind Academy</a>

    <!-- Toggler -->
    <button
      style="color: #0066cc;"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color: #0066cc;"></span>
    </button>

    <!-- Collapsible Nav Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item" *ngIf="_authSer.isInstructorLogged() && !_authSer.isAdminLogged() && !_authSer.isStudentLogged()">
        <!-- <li class="nav-item" > -->
          <a routerLink="/instructor" class="nav-link fw-bold text-white">Instructor Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="!_authSer.isInstructorLogged() && _authSer.isAdminLogged() && !_authSer.isStudentLogged()">
        <!-- <li class="nav-item" > -->
          <a routerLink="/admin" class="nav-link fw-bold text-white">Admin Dashboard</a>
        </li>
        <li class="nav-item">
          <a routerLink="/home" class="nav-link fw-bold text-white">Home</a>
        </li>
        <li class="nav-item" *ngIf="!_authSer.isInstructorLogged() && !_authSer.isAdminLogged() && !_authSer.isStudentLogged()">
        <!-- <li class="nav-item" > -->
          <a routerLink="/login" style="color: #0066cc;" class="btn btn-light fw-bold ms-2">Login</a>
        </li>
        <li class="nav-item" *ngIf="_authSer.isInstructorLogged() || _authSer.isAdminLogged() || _authSer.isStudentLogged()">
        <!-- <li class="nav-item" > -->
          <button class="btn btn-light fw-bold ms-2" style="color: #0066cc;" routerLink="/home" (click)="logout()">Logout</button>
        </li>
        <li class="nav-item" *ngIf="!_authSer.isInstructorLogged() && !_authSer.isAdminLogged() && !_authSer.isStudentLogged()">
        <!-- <li class="nav-item" > -->
          <a routerLink="/register" style="color: #0066cc;" class="btn btn-light fw-bold ms-2">Register</a>
        </li>
        <li class="nav-item ms-3" *ngIf="_authSer.isInstructorLogged() || _authSer.isAdminLogged() || _authSer.isStudentLogged()">
          <a routerLink="/profile">
            <img src="profile.png"  style="border-radius: 50% ; height: 50px; width: 50px;" alt="Profile">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
