nav {
  background-color: #0066cc;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
}

nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0px;
}
